
pcbs/bear/maibadge_bear_v1/production/backups/maibadge_bear_v1_2024-12-19_17-06-07.zip
pcbs/bear/maibadge_bear_v1/production/backups/maibadge_bear_v1_2024-12-19_17-13-07.zip
pcbs/bear/maibadge_bear_v1/production/backups/maibadge_bear_v1_2024-12-19_17-21-08.zip
pcbs/bear/maibadge_bear_v1/production/backups/maibadge_bear_v1_2024-12-19_17-24-40.zip
pcbs/bear/maibadge_bear_v1/production/backups/maibadge_bear_v1_2024-12-19_17-49-14.zip
pcbs/bear/maibadge_bear_v1/production/backups/maibadge_bear_v1_2024-12-19_18-00-46.zip
pcbs/bear/maibadge_bear_v1/production/backups/maibadge_bear_v1_2024-12-19_18-01-03.zip
pcbs/bear/maibadge_bear_v1/production/bom.csv
pcbs/bear/maibadge_bear_v1/production/designators.csv
pcbs/bear/maibadge_bear_v1/production/maibadge_bear_v1.zip
pcbs/bear/maibadge_bear_v1/production/netlist.ipc
pcbs/bear/maibadge_bear_v1/production/positions.csv
pcbs/bear/maibadge_bear_v1/~maibadge_bear_v1.kicad_pcb.lck
pcbs/bear/maibadge_bear_v1/~maibadge_bear_v1.kicad_sch.lck
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-CuBottom.gbr
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-CuTop.gbr
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-EdgeCuts.gbr
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-MaskBottom.gbr
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-MaskTop.gbr
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-NPTH-drl_map.pdf
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-NPTH.drl
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-PTH-drl_map.pdf
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-PTH.drl
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-SilkBottom.gbr
pcbs/bear/maibadge_bear_v1/jlcpcb/gerber/maibadge_bear_v1-SilkTop.gbr
pcbs/bear/maibadge_bear_v1/jlcpcb/production_files/BOM-maibadge_bear_v1.csv
pcbs/bear/maibadge_bear_v1/jlcpcb/production_files/CPL-maibadge_bear_v1.csv
pcbs/bear/maibadge_bear_v1/jlcpcb/production_files/GERBER-maibadge_bear_v1.zip
